#new-password-container.pageContent.drawerOpen{style: "position: absolute; top: 0px; width:100%;"}
  .displayTable.clearfix
    .col-md-6.signinLeft.displayCell
    .col-md-6.displayCell.signinForm
      .formOuter#forgotForm
        %h1 Forgot Password
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
          %p.signupNote
            Already have an account?
            = link_to 'Sign in', new_user_session_path
          .form-group
            = devise_error_messages!
            = f.email_field :email, :label => false, :autofocus => false, :placeholder => 'Email', class: 'form-control'
          = f.submit 'Reset password', :class => 'button right'