.displayTable.clearfix
  .col-md-6.signinLeft.displayCell{style: 'background-image: url('+image_url("ediofy/signin_bg.jpg")+')'}
  .col-md-6.displayCell.signinForm
    .formOuter#forgotForm
      %h1 Change your password
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .form-group
          = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: 'New password'
        .form-group
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Confirm new password'
        = f.submit 'Change my Password', :class => 'button right'