.pageContent
  .manageContentMargin
    .container.contentwrapper
      .row
        .col-md-4
          = render 'settings_left_menu'
        .col-md-8
          .contentAreaBox
            .boxOuterWhite.InnerBoxPages
              %h1.h2.topMargin0 Password
              = semantic_form_for(current_user, :url => update_password_ediofy_user_setting_path, :html => { :method => :put, :role => 'form'}) do |f|
                .password-update-success
                  -if @password_updated
                    = I18n.t("devise.passwords.updated_not_active")
                .list-unstyled.emailAddreaaarea.changePasswordFields
                  .form-group
                    = f.input :current_password, label: false, placeholder: 'Current Password', :input_html => { :class => 'form-control' }
                  .form-group
                    = f.input :password, label: false, placeholder: 'New Password', :input_html => { :class => 'form-control' }
                  .form-group
                    = f.input :password_confirmation, label: false, placeholder: 'Confirm New Password', :input_html => { :class => 'form-control' }
                .text-right
                  = f.submit 'Save changes', :class => 'btn button minWidth', :id => 'update_pasword_btn', :disabled => true

:javascript
  $('#user_current_password, #user_password, #user_password_confirmation').on('input', function() {
    //alert($(this).val()); // get the current value of the input field.
    validate_password_field();
  });

  function validate_password_field(){
    if($('#user_current_password').val() != '' && $('#user_password').val() != '' && $('#user_password_confirmation').val() != ''){
      $('#update_pasword_btn').prop("disabled", false);
    } else {
      $('#update_pasword_btn').prop("disabled", true);
    }
  }