.container.withwhitebgC.pageContent
  %h1 Terms Of Use
  .intro
    %p Before you can use EDIOFY you'll need to read and accept the terms and license information.

  %h3 1 INTRODUCTION
  %ul.terms-privacy-list
    %li (a) These terms and conditions apply to your use of our educational and collaborative platform that allows our users to create, upload and view educational material, record learning activities, view medical cases, review a database of medical images, comment and ask questions and direct message other users (the <strong>Ediofy Platform</strong>). Coached Education Pty Ltd (ACN 619 980 602 provides the Ediofy Platform for your use, along with related services (<strong>our Services</strong>) in accordance with these terms and conditions.
    %li (b) The following documents and policies form a part of, and are to be read with, these Standard Terms:
    %ul.terms-privacy-list
      %li (i) our Acceptable Use Policy – please see Annexure A; and
      %li (ii) our Privacy Policy – please see Annexure B;
    %li (c) If there is any inconsistency between any of the provisions of these Standard Terms and the provisions of any of the annexures referred to in clause 1(b) above, the following order of precedence applies, with the first listed document having the highest precedence, with the terms of that document prevailing to the extent of any inconsistency with those below it, and so on:
    %ul.terms-privacy-list
      %li (i) these Standard Terms; and
      %li (ii) each of the policies or documents contained in Annexures A and B.
    %li (d) You can contact us to obtain further information about our <strong>Services</strong> or your agreement with us at:
    %ul.terms-privacy-list
      %li (i) our email address, #{mail_to "privacy@ediofy.com"}; or
      %li (ii) at our website  #{link_to "https://www.ediofy.com", "https://ediofy.com"}



  %h3 2 AGREEMENT AND TERM
  %ul.terms-privacy-list
    %li (a) By using or participating in our Services you agree to be bound by these Standard Terms which govern the provision of our Services to you.
    %li (b) These Standard Terms will apply from the date you accept from us or participate in any Services that we provide and will remain in force until cancelled or terminated in accordance with clause 3.
  %h3 3 CANCELLATION & TERMINATION
  %ul.terms-privacy-list
    %li (a) Our Services are provided on an ongoing basis and you may cancel the provision of our Services, or your participation with our Services, at any time and at your discretion by providing notice through the Ediofy Platform.
    %li (b) We reserve the right to terminate this agreement and cease the provision of our Services to you at any time in our sole and absolute discretion:
    %ul.terms-privacy-list
      %li (i) immediately, in the event that your use of our Services breaches our Acceptable Use Policy provided in Annexure A; or
      %li (ii) by providing written notice through the Ediofy Platform.

  %h3  4 CONSEQUENCES OF TERMINATION OR CANCELLATION
  %ul.terms-privacy-list
    %li (a) Upon Termination or Cancellation of this agreement, your access to the Ediofy Platform will be revoked, you must cease using our Services and, at our request, destroy all documentation or electronic records regarding our Services that are in your possession, custody or control.
    %li (b) The Termination or Cancellation of this agreement does not affect any accrued rights or remedies of either party.

  %h3 PART B – OUR SERVICES

  %h3  5 PERFORMANCE OF OUR SERVICES
  %ul.terms-privacy-list
    %li (a) We will provide our Services to you in accordance with these Standard Terms.
    %li (b) We will use reasonable endeavours to provide and perform the Services with the professional skill, care and diligence that is expected of a professional person or organisation carrying out similar services to the Services.

  %h3 6 WHAT YOU MUST DO

  %ul.terms-privacy-list
    %li In order to allow us to provide our Services to you, you consent to receiving communication from us regarding your account status, the ongoing provision of our Services and any other relevant information.


  %h3 7 SERVICE CONDITIONS
  %ul.terms-privacy-list
    %li (a) You acknowledge that the use of our Services is at your own risk.
    %li (b) It is a condition of your use of our Services that you must, and must ensure that all employees, agents, contractors or other persons using our Services on your behalf, at all times:
    %ul.terms-privacy-list
      %li (i) comply with and adhere to our Acceptable Use Policy;
      %li (ii) comply with all of our reasonable directions with respect to access and use of our Services; and
      %li (iii) comply with all laws, regul.terms-privacy-listations, standards and industry codes applicable to you, if any.

  %h3 8 LICENCES
  %ul.terms-privacy-list
    %li (a) The provision of our Services to you may involve the use by you of interfaces or systems that are provided by third parties (<strong>Third Party Software</strong>).
    %li (b) We warrant that we have the right to provide you with a licence to use Third Party Software in connection with our Services to the extent set out in these Standard Terms (<strong>Third Party Licences</strong>) and we grant to you a non- exclusive, non-transferable licence for you to use the Third Party Licences during the term of your agreement with us.
    %li (c) It is a condition of your use of such Third Party Licences that you only use the Third Party Licences in accordance with these Standard Terms.

  %h3  PART C – MISCELLANEOUS

  %h3  9 PRIVACY
  %ul.terms-privacy-list
    %li (a) For the purposes of this clause 9 words or terms defined in the Privacy Act have the meaning given to them in the Privacy Act.
    %li (b) We will only use personal information you provide us for the purpose it was provided or as otherwise provided for in our Privacy Policy.
    %li (c) You acknowledge that our Services may involve the disclosure of your personal information when accessing or using our Services.
    %li (d) You warrant and undertake that you will not disclose the personal information of individuals other than yourself to us when accessing or using our Services.
    %li (e) Without limiting any other indemnity provided in these Standard Terms, you release and indemnify us with respect to all actions, claims, liabilities, injury, loss or damage suffered or incurred, including to any third party, arising from or connected in any way to your breach of this clause 9.


  %h3  10 LIMITATION OF LIABILITY
  %ul.terms-privacy-list
    %li (a) Our Services come with guarantees which cannot be excluded under the Australian Consumer Law established under the Competition and Consumer Act 2010 (Cth) (<strong>Statutory Guarantees</strong>). For major failures with our Services, you are entitled:
    %ul.terms-privacy-list
      %li (i) to cancel this agreement with us; and
      %li (ii) to a refund for the unused portion, or to compensation for its reduced value.
      %p
    %ul.terms-privacy-list
      %li
        %p  You are also entitled to be compensated for any other reasonably foreseeable loss or damage.
      %li
        %p If the failure does not amount to a major failure, you are entitled to have problems with our Services rectified in a reasonable time and, if this is not done, to cancel your agreement with us and obtain a refund for the unused portion of this agreement.

    %li (b) Where Statutory Guarantees apply, to the extent to which we are able to do so by law, our liability under those provisions is limited at our option to the supply of our Services again or the payment of the cost of having similar services supplied again.
    %li (c) You agree that, to the ful.terms-privacy-listlest extent permissible by law, we will not be responsible or liable (whether in contract, tort (including negligence) or otherwise), under any circumstances, for any indirect, liquidated, special, punitive, exemplary, incidental or consequential losses or damages of any kind arising that you or anyone else may suffer in connection with, or related to, our Services or your use thereof.
    %li (d) In the event the limitations of liability contained in this clause 10 are held to be unenforceable for any reasons, you agree that, to the ful.terms-privacy-listlest extent permissible by law, the maximum aggregate of our liability to you (or any third party) will not exceed the amount paid by you for our Services in accordance with these Standard Terms, such amount being $0.

  %h3 11 INDEMNITY
  %ul.terms-privacy-list
    %li (a) For the purposes of this clause 11, a reference to ‘you’ includes you and, if applicable, any of your personnel, employees, agents, contractors or other third parties using the Services that we provide to you, whether authorised or unauthorised by you.
    %li (b) You agree to indemnify, hold harmless and release us, and any third parties that operate the Third Party Licences used by you in connection with our Services, against any and all claims, liabilities, injury, loss or damage suffered or incurred, including to any third party, arising from or connected in any way to:
    %ul.terms-privacy-list
      %li (i) your breach or non-observance of these Standard Terms;
      %li (ii) your transmission of any illegal, fraudul.terms-privacy-listent, or offensive material in connection with our Services; and
      %li (iii) your wilful, unlawful or negligent use of our Services.


  %h3  12 FORCE MAJEURE
  %ul.terms-privacy-list
    %li (a) No party is liable for any failure to perform or delay in performing its obligations under this agreement if that failure or delay is due to anything beyond that party’s reasonable control, including, but not limited to, internet connectivity outages, fire, storm, flood, earthquake, explosion, war, invasion, rebellion, sabotage, epidemic, pandemic, labour dispute or labour shortage, and any act or omission (including laws, regul.terms-privacy-listations, disapprovals or failures to approve) of any third person (<strong>Force Majeure Event</strong>).
    %li (b) Either party may terminate this agreement with immediate effect by giving written notice to the other party where a failure or delay to perform obligations under this agreement as a resul.terms-privacy-listt of a Force Majeure Event exceeds 7 days.

  %h3  13 NOTICES
  %ul.terms-privacy-list
    %li (a) Any notice, demand, consent, approval or communication under these Standard Terms that is specified to be required to be in writing must be in writing, in English and signed by a person dul.terms-privacy-listy authorised by the sender and sent by email or other applicable electronic communication to the contact details set out:
    %ul.terms-privacy-list
      %li (i) with respect to notices delivered to us, in these Standard Terms; and
      %li (ii) with respect to notices delivered by us, in your account details as recorded with us,
      (<strong>Notice</strong>).
    %li (b) A Notice takes effect when taken to be received, or at a later time specified in it, and is taken to be received at the time of transmission unless, within 24 hours of transmission or, if the unsuccessful.terms-privacy-list transmission is as a consequence of any act or omission of the sender or defect in the sender’s transmitting equipment, any time after transmission, the sender receives advice that the transmission has been unsuccessful.terms-privacy-list, but if the delivery, receipt or transmission is not a Business Day or is after 5.00pm on a Business Day the Notice is taken to be received at 9.00am on the next Business Day.

  %h3  14 CONFIDENTIALITY
  %ul.terms-privacy-list
    %li (a) You agree that any information disclosed to you by us in the course of providing our Services to you is confidential unless such information is already in the public domain, has been lawful.terms-privacy-listly obtained by you exclusively from a third party (otherwise than in connection with a breach of confidence) or was required by law to be disclosed to you (<Strong>Confidential Information</strong>).
    %li (b) You agree that you will not disclose any Confidential Information to a third party except:
    %ul.terms-privacy-list
      %li (i) for the purposes expressly contemplated by this agreement;
      %li (ii) if you are legally required to do so; or
      %li (iii) with our prior written consent.

  %h3  15 GENERAL
  %ul.terms-privacy-list
    %li (a) These Standard Terms are governed by the laws of Western Australia and you submit to the exclusive jurisdiction of the courts of that State.
    %li (b) Without limiting clause 1%li (b), these Standard Terms record the entire understanding and agreement between you and us regarding the provision of our Services and supersede all prior communications, understandings and agreements.
    %li (c) Except where these Standard Terms expressly state otherwise we may, in our absolute discretion:
    %ul.terms-privacy-list
      %li (i) exercise a right or remedy, including termination, where you are in breach of these Standard Terms;
      %li (ii) give or refuse consent, approval or permission;
      %li (iii) decide to determine a matter in any way we consider appropriate; and
      %li (iv) revoke or change any such prior action.
    %li (d) No rul.terms-privacy-liste of construction applies to our disadvantage solely on the basis that we are responsible for the preparation of, or seek to rely on, these Standard Terms or any part of them.
    %li (e) If any part of these Standard Terms becomes void or unenforceable for any reason, that part will be severed with the intent that all remaining parts will continue to have ful.terms-privacy-listl force and effect.
    %li (f) You must not assign this agreement or any right under this agreement without our prior written consent.
    %li (g) This agreement is an agreement for the provision of our Services and does not create a relationship of employment, agency or partnership between us and you.

  %h3 16 DEFINITIONS & INTERPRETATION
  %p In these Standard Terms:
  %ul.terms-privacy-list
    %li (a) <strong>Business Day</strong> means a day on which banks are open for general banking business in Perth, Western Australia.
    %li (b) <strong>Standard Terms</strong> means these terms and conditions.
    %li (c) <strong>Termination or Cancellation</strong> means the termination or cancellation of this agreement in accordance with clause 3
    %li (d) Words or phrases defined in these Standard Terms, as indicated in bold within parentheses, have the meaning given to them within these Standard Terms.
    %li (e) References to “we”, “us” or “our” in these Standard Terms refers to the business carried on by <strong>Coached Education Pty Ltd</strong> (ACN 619 980 602) (where applicable as the context provides) and our employees, agents and other related parties as appropriate.
    %li (f) References to “you” in these Standard Terms refers to you, the person, business or entity engaging our Services.
    %li (g) In these Standard Terms;
    %ul.terms-privacy-list 
      %li (i)  the singul.terms-privacy-listar includes the plural and vice versa;
      %li (ii) another grammatical form of a defined word or expression has a corresponding meaning;
      %li (iii) a reference to a person includes a natural person, partnership, body corporate, association, governmental or local authority or agency or other entity;
      %li (iv) the meaning of general words is not limited by specific examples introduced by <strong>including, for example</strong> or similar expressions;
      %li (v) if a day on or by which an obligation must be performed or an event must occur is not a Business Day, the obligation must be performed or the event must occur on or by the next Business Day; and
      %li (iv) any agreement, representation, warranty or indemnity by two or more parties (including where two or more persons are included in the same defined term) is for the benefit of them jointly and severally.
  - if user_signed_in?
    - if current_user.ediofy_terms_accepted?
      .accepted You have already accepted the terms.
      %p
      =link_to 'Next', edit_user_registration_path, class: 'button'
    - else
      = form_tag url_for(action: "create") do
        = submit_tag "I Accept the Terms & Licensing", class: 'button'
        .opt-out= link_to 'I do not agree, please log me out', destroy_user_session_path, class: 'button'


