- friend = friend_request.user
- style_level = '  background: #eeeeee; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8)); background: -webkit-linear-gradient(#f8f8f8, #e8e8e8); background: -moz-linear-gradient(#f8f8f8, #e8e8e8); background: -o-linear-gradient(#f8f8f8, #e8e8e8); background: -ms-linear-gradient(#f8f8f8, #e8e8e8); background: linear-gradient(#f8f8f8, #e8e8e8); color: #888888; font-size: 10px; font-weight: 700; text-shadow: 0 1px 0 white; display: inline-block; padding: 2px 6px; line-height: normal; margin-left: 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);'
- style_button = 'background: #1cbff5; background: linear-gradient(top, #1cbff5, #09a2d6); background: -webkit-linear-gradient(top, #1cbff5, #09a2d6); background: -moz-linear-gradient(top, #1cbff5, #09a2d6); background: -ms-linear-gradient(top, #1cbff5, #09a2d6); background: -khtml-linear-gradient(top, #1cbff5, #09a2d6); background: -o-linear-gradient(top, #1cbff5, #09a2d6);'
%tr
  %td.friend-cell
    %table.friend{ width: '100%', cellpadding: '10', cellspacing: '0', border: '0' }
      %tbody
        %tr
          %td.avatar{ align: 'left', valign: 'top', width: 128 }= image_tag friend.avatar.thumb.url, alt: friend
          %td.info{ align: 'left', valign: 'top', width: 430 }
            %table{ width: '100%', cellpadding: '0', cellspacing: '0', border: '0' }
              %tbody
                %tr
                  %td.name{ align: 'left', valign: 'top' }
                    %h3
                      = friend
                      %span.level{ style: style_level } Level #{friend.level}
                    %h4= friend.university_group if friend.university_group
                  %td.actions{ align: 'right', valign: 'top' }
                    = link_to 'Accept Request', accept_gmep_friendship_url(id:friend_request), class: 'button', style: style_button
                    = link_to 'Deny Request', reject_gmep_friendship_url(id:friend_request), class: 'link'
                %tr
                  %td{ colspan: 2 }
                    %p= friend.biography